body {
  color: rgb(30, 30, 30);
  background-color: rgb(120, 120, 120);
  font-family: 'Lato', sans-serif;
  background-image: url(http://www.wujinshike.com/data/wallpapers/32/WDF_799783.jpg);
}

h1, h2, h3 {
  color: #961524;
  font-family: 'Exo 2', sans-serif;
}

h1{
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: bold;
}

h3{
  font-size: 16px;
  font-weight: bold;
}

p{
  text-align: justify;
}

a{
  color:  rgba(40, 40, 40, 0.5);
  text-decoration: none;
}

a:hover{
  color: #961524;
  text-decoration: none;
}
table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

.img-circle {
  border-radius: 50%;
}

#img-profile{
  width: 220px;
  height: 220px;
  border: 1px solid #900C3F;
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card {
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.3);
  background-color: rgba(250, 250, 250, 0.88);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}

#things{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#things img{
  width: 200px;
}

#sidebar {
  background-color: rgba(40, 40, 40, 0.7);
  position: fixed;
  width: 120px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
}
#sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #788188;
}
#sidebar a:link, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
}
#sidebar ul {
  list-style: none;
  padding-left: 0px;
}
#sidebar li {
  margin-top: 50px;
  margin-bottom: 50px;
  display: list-item;
}
#sidebar li i {
  color: rgb(250, 250, 250);
}
#sidebar li i:hover {
  color: #40A798;
}

#content {
  margin-left: 120px;
}

.btn-red {
  background-color: #961524;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 3px;
}
